<!DOCTYPE html>
<%
config  = {
  directory_pos : "../",
  url : "position/",
  page_id : "position",
  page_class: "lower",
  title: "ポジション｜【公式】ルジェンテ文京湯島｜文京区、東京メトロ千代田線「湯島」駅の新築分譲マンション",
  keywords: "ルジェンテ文京湯島,文京区,東京メトロ千代田線,湯島駅,東急リバブル,新築,分譲マンション,L'GENTE,ルジェンテ",
  description: "ルジェンテ文京湯島の公式サイト。「湯島」駅 徒歩5分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。",
  add_stylesheet: ["static/css/lower.css"]
};
%><%-  include("../_header",{ config:config});  %>


<div class="content-bg">
  <div class="bgs bg01 current"></div>
</div>
<main>
  <div class="main-visual">
    <h2 class="mv-title prompt">POSITION</h2>
    <p class="caption">Image photo</p>
    <div class="image"></div>
    <div class="bg"><img src="../static/images/position/mv.jpg" alt="" class="pc"><img src="../static/images/position/mv-sp.jpg" alt="" class="sp"></div>
  </div>

  <section class="intro">
    <div class="wrap">
      <h3 class="intro-title"><img src="../static/images/position/mark.png" alt="KAKU 格 文京山の手 YUSHIMA x HONGO Bunkyo Yushima "></h3>
      <div class="texts">
        <p class="title">由緒ある<br class="sp">歴史と<br class="pc">格式高い文京<br class="sp">アドレスに住む。</p>
        <p class="en cormorant">The luxury of living in a historic<br>and prestigious Bunkyo address.</p>
        <p class="text">かつて、江戸城下として隆盛し、<br>大名・武家が暮らした屋敷街であった文京区湯島・本郷。<br>近代には名だたる文人たちが創作拠点として選ぶなど、<br>寺社の趣きや揺れる葉音、人々の営みに往時の姿を忍ばせている。<br>真に豊かな土地とは、100年、1000年の時を経ても色褪せることはない。<br>今、時を超えて幾つもの想いが交錯する。</p>
      </div>
    </div>
  </section><!-- /intro -->

  <section class="sections section01">
    <div class="wrap">
      <header>
        <h3 class="title">時の余韻</h3>
        <p class="text01">本物は時を超えて残り続け、<br class="sp">不変であり続ける。</p>
      </header>
    </div>
    <div class="image swipe-img"><img src="../static/images/position/img01.jpg" alt=""><p class="caption pc">萬延二年 本郷湯島繪圖</p></div>
    <p class="cap-sp sp">萬延二年 本郷湯島繪圖</p>
    <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
    <div class="wrap">
      <p class="lead">徳川家代々に<br class="sp">ゆかりのある場所であり、<br>ひとつの地であった<br class="sp">「湯島本郷」。</p>
      <p class="text02">たった一篇の史実にふれるだけで、土地の原風景は心に広がっていく。「湯島」と「本郷」。この2つはもともと一体の地であった。10世紀頃から「湯島郷」は存在し、その内に「本郷」があったため当時は「湯島本郷」と称されていた。その後、室町・戦国時代にかけて、略して「本郷」となり、2つの地名へと変化したのである。やがて江戸城下として、徳川家代々に仕える大名たちが上屋敷を構え、現代に受け継がれる山手邸宅文化としての地位を確立したと言われている。</p>
      <p class="mini">出典：「浮世絵と古地図でめぐる江戸名所散歩」 大石 学 著</p>
    </div>
  </section>

  <section class="sections section02">
    <div class="wrap">
      <header>
        <h3 class="title">住の系譜</h3>
        <p class="text01">多くの文人に愛され、住み継がれてきた証がある。</p>
      </header>
    </div>
      <div class="image"><img src="../static/images/position/img02.jpg" alt=""><p class="caption">徳田秋声旧宅（約1,250m 徒歩16分）</p></div>
      <div class="image image02"><img src="../static/images/position/img03.jpg" alt=""><p class="caption">石川啄木歌碑（約170m 徒歩3分）</p></div>

      <div class="wrap">
        <p class="lead">近代文学発祥の地<br class="sp">「文京区」において、<br>樋口一葉、<br class="sp">石川啄木、坪内逍遥<br class="sp">らが暮らした街<br class="sp">「湯島本郷」。</p>
        <p class="text02">坂あるところに文学は生まれる。それは、街のあらゆるシーンで垣間見ることができる。坂上からの眺め、路地にある風情、寺社を参拝する人々。文京区とは起伏に富み、その豊かな表情が訪れる人にインスピレーションを与えてくれる。時代に名を残した文人たちは、その魅力を知っていた。理想の創作拠点として、そして理想の住処として、今までもこれからも、受け継がれる住文化がある。</p>
      </div>
  </section>

  
  <section class="sections section03">
    <div class="wrap">
      <header>
        <h3 class="lead">歩むほどに歴史の<br class="sp">由緒とその価値を<br class="sp">知る。<br>名だたる文<br class="sp">豪に愛された文の<br class="sp">京としての証。</h3>
        <p class="text02">文京区は数多くの文人たちが暮らした街。東京大学のある本郷を中心に学者や作家が集まり、競い合い、優れた作品を世に生み出した。日本の近代文学の理論書であり原点とされる、坪内逍遥の「小説神髄」もこの地で執筆。以来、樋口一葉、石川啄木も生活の場として選ぶとともに、創作の拠点として居を構えた。今も彼らの住居跡や旧居など多くの文学史跡が区内に残っている。</p>
      </header>
      <ul class="clearfix">
        <li>
          <div class="img"><img src="../static/images/position/img04.png" alt="">
          </div>
          <p class="caption01">写真提供：国立国会図書館</p>
          <p class="name">樋口一葉</p>
          <p class="text">24年間の短い生涯のうち文京区内在住は、約10年。4歳から約5年間を東京大学赤門前で過ごした。</p>
        </li>
        <li>
          <div class="img"><img src="../static/images/position/img05.png" alt=""></div>
          <p class="caption01">写真提供：石川啄木記念館</p>
          <p class="name">石川啄木</p>
          <p class="text">文京区本郷に居を構えた若き啄木は、朝日新聞社の夜勤を終え、深夜、湯島の切通坂(現 春日通り)を歩いたという逸話がある。通り沿いには石川啄木歌碑があり、当時創作した歌が刻まれている。</p>
        </li>
        <li>
          <div class="img"><img src="../static/images/position/img06.png" alt=""></div>
          <p class="caption01">写真提供：国立国会図書館</p>
          <p class="name">坪内逍遥</p>
          <p class="text">東京大学卒業後、東京専門学校(現 早稲田大学)の講師となった逍遥は、文京区炭団坂上に居を構え、約3年ほどの間に、2作の小説を発表。</p>
        </li>
      </ul>
    </div>
  </section>


  <section class="sections section04">
    <div class="wrap">
      <header>
        <h3 class="title">悠久の丘</h3>
        <p class="text01">神域に寄り添い、切通坂上に<br class="sp">住まう誇りがある。</p>
      </header>
    </div>
    <div class="image"><img src="../static/images/position/img07.jpg" alt=""><p class="caption">湯島天満宮(湯島天神)（約300m 徒歩4分）</p></div>

    <div class="wrap">
      <p class="lead">學問の神・菅原道真<br class="sp">を祀る湯島天満宮の<br class="sp">ほど近く、<br>梅の名所<br class="sp">を愛でる高台の地。</p>
      <p class="text02">菅原道真公を祀る學問の神「湯島天満宮」。その歴史は古く、創建は458年。風雅な梅林により名が知られ、徳川家康から崇敬を受けて以来、學問の聖地として親しまれてきた。境内には約300本もの梅が植えられている。また、計画地一帯は本郷台地上に位置しており、安定した地盤に恵まれた高台でもある。江戸時代より山手と呼ばれ、江戸城警護の要衝として多くの武家が暮らした理由もうなづける。</p>
    </div>
    <ul class="clearfix">
      <li class="image"><img src="../static/images/position/img08.jpg" alt=""><p class="caption">湯島天満宮(湯島天神)（約300m 徒歩4分）</p></li>
      <li class="image"><img src="../static/images/position/img09.jpg" alt=""><p class="caption">切通坂（約100m 徒歩2分）</p></li>
    </ul>
  </section>


  <section class="sections section05">
    <div class="wrap">
      <header>
        <h3 class="title">都心を愛する人々<br class="sp">へ、東京を見晴らす<br class="sp">暮らしを。</h3>
        <p class="text01">本郷台地に位置する計画地付近の標高は、約21.3m。南や東に広がる湯島天満宮、御徒町界隈の低地、上野恩賜公園一帯よりも高台に位置するとともに、地上15階建てのスケールを実現する。上層階からの眺望も期待でき、大いなる開放感を享受できる。</p>
        <p class="mini">出典：国土地理院</p>
      </header>
    </div>
    <div class="image swipe-img"><img src="../static/images/position/img10.png" alt=""><p class="caption pc">高低差概念図</p></div>
    <p class="cap-sp sp">高低差概念図</p>
    <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
  </section>


</main>

<div class="page-annotation">
  <p class="wrap"><!--※掲載の高低差概念図は、周囲の立地を概念化しイラスト化したもので、地形・建物の大きさ・位置・スケール・高低差・距離・方向は実際と異なる場合があります。周辺の建物・道路等は省略・簡略化しております。<br>-->※掲載の環境写真は2020年10月に撮影したものです。<br>※掲載の徒歩分数表示については80mを1分として算出し、端数を切り上げたものです。</p>
</div>
<%-  include("../_footer",{config:config}); %>

</body>
</html>
