<!DOCTYPE html>
<%
config  = {
  directory_pos : "../",
  url : "access/",
  page_id : "access",
  page_class: "lower",
  title: "アクセス｜【公式】ルジェンテ文京湯島｜文京区、東京メトロ千代田線「湯島」駅の新築分譲マンション",
  keywords: "ルジェンテ文京湯島,文京区,東京メトロ千代田線,湯島駅,東急リバブル,新築,分譲マンション,L'GENTE,ルジェンテ",
  description: "ルジェンテ文京湯島の公式サイト。「湯島」駅 徒歩5分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。",
  add_stylesheet: ["static/css/lower.css"]
};
%><%-  include("../_header",{ config:config});  %>


<div class="content-bg">
  <div class="bgs bg01 current"></div>
</div>
<main>
  <div class="main-visual">
    <h2 class="mv-title prompt">ACCESS</h2>
    <p class="caption">Image photo</p>
    <div class="image"></div>
    <div class="bg"><img src="../static/images/access/mv.jpg" alt="" class="pc"><img src="../static/images/access/mv-sp.jpg" alt="" class="sp"></div>
  </div>

  <section class="intro">
    <div class="wrap">
      <h3 class="intro-title"><img src="../static/images/access/mark.png" alt="SHIN 心 自在なる時 YUSHIMA x HONGO Bunkyo Yamanote"></h3>
      <div class="texts">
        <p class="title">山手線内側・都心の<br>全方位アクセスを手中にする。</p>
        <p class="en cormorant">All-around access to the inside of the Yamanote Line<br>and the super city center is at hand.</p>
        <p class="text">この都心は、心の豊かさ、人生の豊かさを広げる。<br>山手線内側の特徴は、縦横無尽にアクセスできる網の目のように張り巡らされた<br>地下鉄の存在が大きい。さらに、JR山手線まで最寄駅として利用可能。<br>徒歩10分圏内に5駅6路線<sup>※1</sup>という<br>この大きなアドバンテージは、都心をスピーディにつなぎ、<br>通勤はもちろん、休日のお買い物・レジャーを充実させてくれる。</p>
      </div>
    </div>
  </section><!-- /intro -->

  <section class="sections section01">
    <div class="wrap">
      <header>
        <h3 class="title">都心の利</h3>
        <p class="text01">あらゆる都市を“思うがまま”に、中心を生きられる。</p>
      </header>
    </div>
    <div class="images-wrap">
      <ul class="images">
        <li class="img01"><img src="../static/images/access/img01.jpg" alt="" class="pc"><img src="../static/images/access/img01-sp.jpg" alt="" class="sp"><p class="caption">大手町駅</p></li>
        <li class="img02"><img src="../static/images/access/img02.jpg" alt="" class="pc"><img src="../static/images/access/img02-sp.jpg" alt="" class="sp"><p class="caption">東京駅</p></li>
        <li class="img03"><img src="../static/images/access/img03.jpg" alt="" class="pc"><img src="../static/images/access/img03-sp.jpg" alt="" class="sp"><p class="caption">銀座周辺</p></li>
        <li class="img04"><img src="../static/images/access/img04.jpg" alt="" class="pc"><img src="../static/images/access/img04-sp.jpg" alt="" class="sp"><p class="caption">伊勢丹新宿店</p></li>
        <li class="img05"><img src="../static/images/access/img05.jpg" alt="" class="pc"><img src="../static/images/access/img05-sp.jpg" alt="" class="sp"><p class="caption">表参道周辺</p></li>
      </ul>
      <div class="bg"><img src="../static/images/access/img00.jpg" alt=""></div>
    </div>
    <div class="wrap">
      <p class="lead">「湯島」駅徒歩5分・<br class="sp">「本郷三丁目」駅<br class="sp">徒歩6分。<br>山手線内側の多彩な<br class="sp">機動力が集約する<br class="sp">5駅6路線<sup>※1</sup>。</p>
      <p class="text02">あなたの時間を自在に、幾つもの路線を自由に。ここは、あらゆる都市へ手が届く<br>魅力的なポジション。東京メトロ千代田線「湯島」駅へ徒歩5分。都営大江戸線<br>「本郷三丁目」駅へ徒歩6分。東京メトロ丸ノ内線「本郷三丁目」駅へは徒歩8分。さらに、東京メトロ銀座線「上野広小路」駅と都営大江戸線「上野御徒町」駅が<br>徒歩9分。そして、都心の大動脈であるJR山手線・京浜東北線「御徒町」駅も徒歩<br>10分。オンの日も、オフの日も、すべての時間にゆとりという贈り物をくれる。</p>
    </div>
    
    <div class="image swipe-img"><img src="../static/images/access/img06.png" alt=""><p class="caption pc">路線図</p></div>
    <p class="cap-sp sp">路線図</p>
    <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
    <div class="stations-wrap clearfix">
      <dl class="stations stations01">
        <dt>
          <span class="icon"><img src="../static/images/access/icon01.png" alt=""></span>
          <span class="txt">東京メトロ丸ノ内線「本郷三丁目」駅より</span>
        </dt>
        <dd>
          <ul>
            <li>
              <p class="name"><span class="font-size160">「後楽園」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">1</span>分(1分)</p>
              <p class="line">東京メトロ丸ノ内線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「御茶ノ水」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">1</span>分(1分)</p>
              <p class="line">東京メトロ丸ノ内線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「東 京」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">6</span>分(7分)</p>
              <p class="line">東京メトロ丸ノ内線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「池 袋」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">9</span>分(9分)</p>
              <p class="line">東京メトロ丸ノ内線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「銀 座」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">9</span>分(9分)</p>
              <p class="line">東京メトロ丸ノ内線利用</p>
            </li>
          </ul>
        </dd>
      </dl><!-- st1 -->
      <dl class="stations stations02">
        <dt>
          <span class="icon"><img src="../static/images/access/icon02.png" alt=""></span>
          <span class="txt">東京メトロ千代田線「湯島」駅</span>
        </dt>
        <dd>
          <ul>
            <li>
              <p class="name"><span class="font-size160">「大手町」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">4</span>分(4分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「西日暮里」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">6</span>分(5分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「日比谷」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">7</span>分(7分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「霞ケ関」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">9</span>分(10分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「国会議事堂前」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">11</span>分(12分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「赤 坂」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">13</span>分(13分)</p>
              <p class="line">東京メトロ千代田線利用</p>
            </li>
          </ul>
        </dd>
      </dl><!-- st2 -->
      <dl class="stations stations03">
        <dt>
          <span class="icon"><img src="../static/images/access/icon03.png" alt=""></span>
          <span class="txt">都営大江戸線「本郷三丁目」駅</span>
        </dt>
        <dd>
          <ul>
            <li>
              <p class="name"><span class="font-size160">「上野御徒町」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">2</span>分(2分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「飯田橋」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">3</span>分(3分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「両 国」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">8</span>分(8分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「清澄白河」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">11</span>分(11分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「新宿西口」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">14</span>分(14分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
            <li>
              <p class="name"><span class="font-size160">「都庁前」</span>駅へ</p>
              <p class="distance"><span class="font-size250 num">17</span>分(16分)</p>
              <p class="line">都営大江戸線利用</p>
            </li>
          </ul>
        </dd>
      </dl><!-- st3 -->
    </div>

  </section>

  <section class="sections section02">
    <div class="wrap">
      <header>
        <h3 class="lead">「大手町」「霞ヶ関」<br class="sp">「銀座」「東京」<br>「池袋」「新宿西口」<br class="sp">「日比谷」「赤坂」<br>この全てが“直通＆<br class="sp">15分圏”という<br class="sp">プレミアム。</h3>
      </header>
    </div>
    <section class="subsections subsection01">
      <header>
        <h4 class="subsection-title">丸ノ内線</h4>
        <p class="en cormorant">Marunouchi Line</p>
        <p class="flavor">個性豊かな街々をぐるりと一周するようにつなぐ路線。<br>地上区間がないため、天候による遅延も比較的少ない。</p>
        <p class="text02">東京・新宿・池袋のビッグターミナル、ビジネス拠点の大手町、華やぐ銀座を束ねる。</p>
      </header>
      <div class="image swipe-img"><img src="../static/images/access/img07.png" alt="路線図"></div>
      <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      <p class="caption">Image photo</p>
    </section><!-- subsection01 -->
    <section class="subsections subsection02">
      <header>
        <h4 class="subsection-title">大江戸線</h4>
        <p class="en cormorant">Oedo Line</p>
        <p class="flavor">都庁前や新宿西口のほか、<br class="sp">両国などの下町、<br class="sp">華やぐ都市をぐるりとひとつ<br class="sp">につなぐ。</p>
        <p class="text02">東京・新宿・池袋の<br class="sp">ビッグターミナル、ビジネス拠点の大手町、華やぐ銀座を束ねる。</p>
      </header>
      <div class="image swipe-img"><img src="../static/images/access/img08.png" alt="路線図"></div>
      <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      <p class="caption">Image photo</p>
    </section><!-- subsection02 -->
    <section class="subsections subsection03">
      <header>
        <h4 class="subsection-title">千代田線</h4>
        <p class="en cormorant">Chiyoda Line</p>
        <p class="flavor">ビジネス拠点の大手町、表参道などの洗練された街をはじめ、<br>風情ある根津、千駄木も連なる新旧の魅力が揃う路線。</p>
        <p class="text02">洗練された街での新しい発見と、風情ある街の懐かしさに、心穏やかになれる。</p>
      </header>
      <div class="image swipe-img"><img src="../static/images/access/img09.png" alt="路線図"></div>
      <p class="swipe"><img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      <p class="caption">Image photo</p>
    </section><!-- subsection03 -->
  </section>

  
  <section class="sections section03">
      <header class="wrap">
        <h3 class="lead">「5駅6路線<sup>※1</sup>」だけで<br class="sp">はない圧倒的な<br class="sp">都心。<br class="pc">徒歩15分な<br class="sp">ら、さらに広がる<br class="sp">「10駅14路線<sup>※2</sup>」。</h3>
      </header>
      <div class="image swipe-img"><img src="../static/images/access/img10.png" alt=""></div>
  </section>


  <section class="sections section04">
    <div class="wrap">
      <header>
        <h3 class="lead">時間にとらわれない<br class="sp">タクシー利用は、<br>都心ならではの<br class="sp">メリット。</h3>
        <p class="text02">時間をもっと自由に楽しみたい人々へ。各主要駅からのタクシー利用も快適な距離感。都心のきらびやかなナイトシーンを存分に謳歌でき、終電を逃しても安心して帰宅できる。</p>
      </header>
    </div>
    <div class="content ">
      <ul class="clearfix">
        <li class="cond01">
          <p class="name">大手町</p>
          <p class="distance">距離 約2.8ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">1,220</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">1,460</span>円</p>
          </div>
        </li>
        <li class="cond02">
          <p class="name">新宿西口</p>
          <p class="distance">距離 約8.4ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">3,540</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">4,260</span>円</p>
          </div>
        </li>
        <li class="cond03">
          <p class="name">東　京</p>
          <p class="distance">距離 約3.7ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">1,620</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">1,940</span>円</p>
          </div>
        </li>
        <li class="cond04">
          <p class="name">池　袋</p>
          <p class="distance">距離 約6.4ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">2,740</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">3,220</span>円</p>
          </div>
        </li>
        <li class="cond05">
          <p class="name">銀　座</p>
          <p class="distance">距離 約4.9ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">2,100</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">2,500</span>円</p>
          </div>
        </li>
        <li class="cond06">
          <p class="name">上　野</p>
          <p class="distance">距離 約1.9ｋｍ</p>
          <div class="inner">
            <p class="price price01">通常料金<br><span class="font-size125">900</span>円</p>
            <p class="price price02">深夜料金<br><span class="font-size125">1,060</span>円</p>
          </div>
        </li>
      </ul>
      <p class="caption">Image photo</p>
    </div>
  </section>


</main>

<div class="page-annotation">
  <p class="wrap">※1 5駅：「湯島」「本郷三丁目」「上野広小路」「上野御徒町」「御徒町」。6路線：東京メトロ千代田線・丸ノ内線・銀座線、都営大江戸線、JR山手線・京浜東北線。<br>※2 10駅：「湯島」「本郷三丁目」「上野広小路」「上野御徒町」「御徒町」「京成上野」「末広町」「御茶ノ水」「上野」「新御茶ノ水」。14路線：東京メトロ千代田線・丸ノ内線・銀座線・日比谷線、都営大江戸線、JR山手線・京浜東北線・中央線・中央総武線・宇都宮線・高崎線・常磐線・東北新幹線、京成本線。<br>※タクシー料金はJapanTaxi株式会社「全国タクシー」（https://japantaxi.jp/）料金検索にて算出したもので、走行ルートや交通事情によって料金が異なります。<br>※高速料金は含まれておりません。※深夜料金は午後10時から午前5時までの適用となります。<br>※掲載の所要時間は日中時及び通勤時により異なります。乗り換え・待ち時間は含みません。［　］内は通勤時の所要時間です。時間帯により異なります。<br>※所要時間は2020年12月現在のものです。ダイヤ改正等により変更になる場合がございます。<br>※掲載の徒歩分数表示については80mを1分として算出し、端数を切り上げたものです。</p>
</div>

<%-  include("../_footer",{config:config}); %>

</body>
</html>
