<!DOCTYPE html>
<%
config  = {
  directory_pos : "../",
  url : "asset/",
  page_id : "asset",
  page_class: "lower",
  title: "資産性｜【公式】ルジェンテ文京湯島｜文京区、東京メトロ千代田線「湯島」駅の新築分譲マンション",
  keywords: "ルジェンテ文京湯島,文京区,東京メトロ千代田線,湯島駅,東急リバブル,新築,分譲マンション,L'GENTE,ルジェンテ",
  description: "ルジェンテ文京湯島の公式サイト。「湯島」駅 徒歩5分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。",
  add_stylesheet: ["static/css/lower.css"]
};
%><%-  include("../_header",{ config:config});  %>


<div class="content-bg">
  <div class="bgs bg01 current"></div>
</div>
<main>
  <div class="main-visual">
    <h2 class="mv-title prompt">ASSET　VALUE</h2>
    <p class="caption">Image photo</p>
    <div class="image"></div>
    <div class="bg"><img src="../static/images/asset/mv.jpg" alt="" class="pc"><img src="../static/images/asset/mv-sp.jpg" alt="" class="sp"></div>
  </div>

  <section class="intro">
    <div class="wrap">
      <h3 class="intro-title"><img src="../static/images/asset/mark.png" alt="MARE 稀 比類なる価値 YUSHIMA x HONGO Bunkyo Yamanote"></h3>
      <div class="texts">
        <p class="title">山手線内側×文京区<br class="sp">×文教地区<br class="pc">そして、<br class="sp">駅徒歩5分の価値。</p>
        <p class="en cormorant">Inside Yamanote Line, Bunkyo-ku, Bunkyo area.<br>And it’s a rare place to live, just a 5-minute walk from the station.</p>
        <p class="text">住まいを買う、と同時に将来の資産としてどれだけの価値があるのか。<br>山手線内側の超都心にして、文京区アドレス。<br>さらに、計画地は文教地区（一部）に位置し、駅徒歩5分圏という近さ。<br>幾つもの好条件を有する、このマンションをどう読むか。<br>未来において評価に値する価値があるのか、多角的な視点で紐解いてみたい。</p>
      </div>
      <div class="values value01 clearfix">
        <p class="value-tit">Value 1</p>
        <p class="value-text">山手線内側の約3％に住む</p>
        <p class="value-lead">東京都の全体面積は約2,188k㎡。そのうち、山手線内側の面積は約63k㎡。計画地は、そのわずか約3％という限られたエリアに位置するとともに、都市の利便性や大公園の潤いに満ちたライフスタイルが叶う場所に誕生する。</p>
        <div class="image swipe-img img01">
          <img src="../static/images/asset/img01.png">
          <p class="caption pc">出典：国土交通省 国土地理院ホームページ（2020年12月現在）</p>
        </div>
        <p class="cap-sp sp">出典：国土交通省<br>国土地理院ホームページ（2020年12月現在）</p>
        <p class="swipe">
          <img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      </div>
    </div>
  </section><!-- /intro -->

  <section class="bg clearfix">
    <div class="wrap">
      <div class="values value02 clearfix">
        <p class="value-tit">Value 2</p>
        <p class="value-text">約3.1％しかない文教地区にかかる地</p>
        <p class="value-lead">計画地の一部は、東京23区内でもわずか約3.1％のみという文教地区にかかっており、良好な住環境が守られるエリア。周辺には多数の名門大学、小・中・高等学校が点在し、お子様の将来を考える上でも様々な選択肢を広げてくれる。</p>
        <div class="image img02">
          <img src="../static/images/asset/img02.png" class="pc">
          <img src="../static/images/asset/img02-sp.png" class="sp">
          <p class="caption pc">出典：国土交通省 国土地理院ホームページ（2020年12月現在）</p>
        </div>
        <p class="cap-sp sp">出典：国土交通省<br>国土地理院ホームページ（2020年12月現在）</p>
        <p class="swipe">
          <img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      </div>
    </div>
  </section>
    
  <section class="bg-not clearfix">
    <div class="wrap">
      <div class="values value03 clearfix">
        <p class="value-tit">Value 3</p>
        <p class="value-text">駅徒歩5分のリセールバリュー</p>
        <p class="value-lead">駅近であることは、単に便利で快適な生活の質を高めるだけではなく、<br>将来のリセール時にも価格維持が期待できるなど、様々なメリットがある。実際に最寄り駅徒歩5分以内の物件は、約115.1%と高い水準を維持していることがわかる。</p>
        <div class="image swipe-img img03">
          <img src="../static/images/asset/img03.png">
          <p class="caption caption01 pc">※出典／東京カンテイ※2009年10月～ 2010年9月に新規分譲され、2019年10月～ 2020年9月に中古流通した分譲マンションを対象に新築分譲価格からの価格維持率（リセールバリュー）を算出。<br>※専有面積30㎡未満の住戸および事務所・店舗用ユニットは集計から除外。</p>
        </div>
        <p class="cap-sp sp">※出典／東京カンテイ※2009年10月～ 2010年9月に新規分譲され、2019年10月～ 2020年9月に中古流通した分譲マンションを対象に新築分譲価格からの価格維持率（リセールバリュー）を算出。<br>※専有面積30㎡未満の住戸および事務所・店舗用ユニットは集計から除外。</p>
        <p class="swipe">
          <img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      </div>
    </div>
  </section>

  <section class="bg-last clearfix">
    <div class="wrap">
      <div class="values value04 clearfix">
        <p class="value-tit">Value 4</p>
        <p class="value-text">過去10年間で出現率 約2.5％という得難いプロジェクト</p>
        <p class="value-lead">東京23区内で発売された物件のうち、山手線内側かつ文京区内で、さらにその中で駅徒歩5分以内は、わずか91物件のみという価値を誇る。その出現率はわずか約2.5％。もう出逢えないかもしれない、そんな想いを抱かせる得難いプロジェクトといえる。</p>
        <div class="image img04">
          <img src="../static/images/asset/img04.png" class="pc">
          <p class="caption caption01 pc">※対象期間:発売年月が2009年1月1日〜2020年11月15日<br>MRC調査・補足分に基づく分譲マンションデータから算出</p>
        </div>
        <div class="image img04">
          <img src="../static/images/asset/img04-sp.png" class="sp">
        </div>
        <div class="image swipe-img img05">
          <img src="../static/images/asset/img05-sp.png" class="sp">
        </div>
        <p class="cap-sp sp">※2010年1月1日～2020年8月15日までの10年間、<br>山手線内側に供給された新築分譲マンションにおいて、文京区内かつ湯島駅最寄り、<br>さらに徒歩5分以内のマンションはわずか0.17％（5物件）のみの供給となります。<br>（MRC調査・補足に基づく分譲マンションデータから算出）</p>
        <p class="swipe">
          <img src="../static/images/common/icon_swipe.png" alt="左右にスワイプできます。"></p>
      </div>
    </div>
  </section>

</main>

<div class="page-annotation">
  <!--<p class="wrap">※畳数は「約」表示となります。<br>※方位記号は若干誤差があります。正確な方位については設計図書でご確認ください。<br>※掲載の間取り図は、計画段階の図面を基に描き起こしたもので、今後変更になる場合がございます。</p>-->
</div>

<%-  include("../_footer",{config:config}); %>

</body>
</html>
