<!DOCTYPE html>
<%
config  = {
  directory_pos : "../",
  url : "brand/",
  page_id : "brand",
  page_class: "lower",
  title: "L'GENTE｜【公式】ルジェンテ文京湯島｜文京区、東京メトロ千代田線「湯島」駅の新築分譲マンション",
  keywords: "ルジェンテ文京湯島,文京区,東京メトロ千代田線,湯島駅,東急リバブル,新築,分譲マンション,L'GENTE,ルジェンテ",
  description: "ルジェンテ文京湯島の公式サイト。「湯島」駅 徒歩5分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。",
  add_stylesheet: ["static/css/lower.css"]
};
%><%-  include("../_header",{ config:config});  %>


<div class="page-bg">
</div>

<main>
  <header class="main-visual">
    <div class="wrap">
      <div class="brand-logo js-scroll2"><img src="../static/images/brand/brand-logo.png" alt="" width="139" height="183"></div>
      <h2 class="sawarabi js-scroll2">「住む」だけではない、<br>最良の時を刻むレジデンス</h2>
      <p class="brand-lead sawarabi js-scroll2">東急リバブルの「L'GENTE（ルジェンテ）」は、都市に暮らす様々なライフスタイルを実現させる商品。<br>都市で働き、都市を楽しみ、都市を使いこなす<br>「都市を愛する全ての人」のための新築プレミアムレジデンスです。<br>不動産流通業のパイオニアとして培ってきた経験やお客様からいただいた様々な声を取り入れ、<br>その土地の魅力を最大限に引き出し、<br>綿密な商品づくりを徹底しながら暮らしの本質を極める住まいを創り上げています。<br>安心、安全、快適、利便などの居住性にこだわるのはもちろん、<br>お客様に“くつろぎ”を提供する設備・仕様も妥協なくセレクト。<br>単に「住む」だけではなく一生使いこなし最良の時を刻む、資産としての価値をも備えたレジデンスの創出。<br>それが「L'GENTE（ルジェンテ）」が提案する住まいの在り方です。</p>
    </div>
  </header>


  <div class="content-wrapper">
    <div class="sections series clearfix">
      <div class="wrap">
        <ul class="clearfix">
          <li class=" js-scroll2"><img src="../static/images/brand/img01.jpg" alt="ルジェンテ武蔵小山" width="315" height="315">
            <p class="name">ルジェンテ武蔵小山</p>
            <p class="age">59戸／2018年10月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img02.jpg" alt="ルジェンテ品川南大井フレクシス" width="315" height="315">
            <p class="name">ルジェンテ品川南大井フレクシス</p>
            <p class="age">32戸 / 2018年8月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img03.jpg" alt="ルジェンテ日暮里" width="315" height="315">
            <p class="name">ルジェンテ日暮里</p>
            <p class="age">26戸 / 2018年7月築</p></li>

          <li class=" js-scroll2"><img src="../static/images/brand/img04.jpg" alt="ルジェンテ浅草" width="315" height="315">
            <p class="name">ルジェンテ浅草</p>
            <p class="age">34戸 / 2017年8月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img05.jpg" alt="ルジェンテ本郷三丁目" width="315" height="315">
            <p class="name">ルジェンテ本郷三丁目</p>
            <p class="age">30戸 / 2017年4月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img06.jpg" alt="ルジェンテ目黒" width="315" height="315">
            <p class="name">ルジェンテ目黒</p>
            <p class="age">36戸 / 2016年10月築</p></li>

          <li class=" js-scroll2"><img src="../static/images/brand/img07.jpg" alt="ルジェンテ幡ヶ谷" width="315" height="315">
            <p class="name">ルジェンテ幡ヶ谷</p>
            <p class="age">20戸 / 2016年9月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img08.jpg" alt="ルジェンテ千代田神保町" width="315" height="315">
            <p class="name">ルジェンテ千代田神保町</p>
            <p class="age">46戸 / 2015年12月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img09.jpg" alt="ルジェンテ碑文谷" width="315" height="315">
            <p class="name">ルジェンテ碑文谷</p>
            <p class="age">23戸 / 2015年12月築</p></li>

          <li class=" js-scroll2"><img src="../static/images/brand/img10.jpg" alt="ルジェンテ立川" width="315" height="315">
            <p class="name">ルジェンテ立川</p>
            <p class="age">27戸 / 2015年1月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img11.jpg" alt="ルジェンテ新中野" width="315" height="315">
            <p class="name">ルジェンテ新中野</p>
            <p class="age">30戸 / 2013年6月築</p></li>
          <li class=" js-scroll2"><img src="../static/images/brand/img12.jpg" alt="ルジェンテ代々木上原" width="315" height="315">
            <p class="name">ルジェンテ代々木上原</p>
            <p class="age">19戸 / 2013年4月築</p></li>
        </ul>
      </div>
    </div><!-- series -->
  </div><!-- contents-wrap -->
</main>




<%-  include("../_footer",{config:config}); %>

</body>
</html>
