<!DOCTYPE html>
<%
config  = {
  directory_pos : "./",
  page_id : "top",
  page_class: "",
  title: "【公式】ルジェンテ文京湯島｜文京区、東京メトロ千代田線「湯島」駅の新築分譲マンション",
  keywords: "ルジェンテ文京湯島,文京区,東京メトロ千代田線,湯島駅,東急リバブル,新築,分譲マンション,L'GENTE,ルジェンテ",
  description: "ルジェンテ文京湯島の公式サイト。「湯島」駅 徒歩5分。東急リバブルの新築分譲マンション「L'GENTE（ルジェンテ）」シリーズ。",
  add_stylesheet: ["static/css/top.css"]
};
%><%-  include("_header",{ config:config});  %>


<div class="content-bg">
  <div class="bgs bg01 current"></div>
  <div class="bgs bg02"></div>
  <div class="bgs bg03"></div>
</div>
<main>
  <div class="main-visual">
    <div class="image mv-point">
      <img src="static/images/top/mv-point.png">
    </div>
    <div class="scenes scene01">
      <p class="caption">航空写真</p>
      <div class="image"></div>
      <div class="texts">
        <p class="text01 overpass"><span class="in01 in">Heritage,</span><br><span class="in02 in">Modern,</span><br><span class="in03 in">and</span><br><span class="in04 in">Elegance.</span></p>
        <p class="text02">新しき良き伝統をくらす。</p>
      </div>
    </div><!-- .scenes.scene01 -->
    <div class="scenes scene02">
      <p class="caption">外観完成予想CG</p>
      <div class="front"></div>
      <ul class="slides">
        <li class="slide slide01 current"></li>
        <li class="slide slide02"></li>
        <li class="slide slide03"></li>
      </ul>
      <div class="texts">
        <p class="text01 overpass"><span class="in">Heritage,</span><br><span class="in">Modern,</span><br><span class="in">and</span><br><span class="in">Elegance.</span></p>
        <p class="text02">新しき良き伝統をくらす。</p>
      </div>
    </div><!-- .scenes.scene02 -->
    <p class="message pc">南面に緑豊かな「新花公園」を抱く、全73邸のモダンレジデンス。</p>
    <div class="bg"><img src="static/images/top/mv01-pc.png" alt="" class="pc"><img src="static/images/top/mv01-sp.png" alt="" class="sp"></div>
  </div><!-- main-visual -->
  <p class="mv-message sp">南面に緑豊かな<br>「新花公園」を抱く、<br>全73邸のモダンレジデンス。</p>

  <div class="wrap">
    <ul class="notes-area notes-area01 wrap clearfix">
      <li class="cond01 js-scroll">
        <p class="text01">東京メトロ千代田線</p>
        <p class="text02"><span class="font-size130">「湯島」</span><span class="font-size85">駅 徒歩</span><span class="font-size200 num">5</span>分</p>
      </li>
      <li class="cond02 js-scroll">
        <p class="text01">都営大江戸線</p>
        <p class="text02"><span class="font-size130">「本郷三丁目」</span><span class="font-size85">駅 徒歩</span><span class="font-size200 num">6</span>分</p>
      </li>
      <li class="cond03 js-scroll">
        <p class="text01"><span class="font-size130">「大手町」</span><span class="font-size85">駅 直通</span><span class="font-size200 num">4</span>分</p>
        <p class="text02">※東京メトロ千代田線利用</p>
      </li>
      <li class="cond04 js-scroll">
        <p class="text01">　</p>
        <p class="text02"><span class="font-size200 num">5</span><span class="font-size85">駅</span><span class="font-size200 num">6</span><span class="font-size85">路線<sup>※1</sup>利用可</span></p>
      </li>
    </ul>
    <ul class="notes-area notes-area02 wrap clearfix">
      <li class="cond05 js-scroll">
        <p class="text01">角住戸率<span class="font-size200 num">75</span><span class="font-size110">%超</span></p>
        <p class="text02">※販売対象住戸58戸中46戸</p>
      </li>
      <li class="cond06 js-scroll">
        <p class="text01">ホテルライクな</p>
        <p class="text02">内廊下設計</p>
      </li>
      <li class="cond07 js-scroll">
        <p class="text01">豊富なプランバリエーション</p>
        <p class="text02"><span class="font-size220 num">3</span>LDK<span class="font-size150">角住戸</span><br class="sp"><span class="font-size220 num">65</span>㎡〜<span class="font-size220 num">70</span>㎡超 /<br class="sp"><span class="font-size170 num">1</span>LDK<span class="font-size170 num">32</span>㎡〜<span class="font-size170 num">40</span>㎡超
      </li>
    </ul>
  </div>

  <section class="information">
    <div class="wrap">
      <h2 class="title prompt js-scroll move-text">INFORMATION</h2>
      <p class="lead js-scroll">＜資料請求受付開始＞<br><span class="font-size80">4月下旬 事前案内会開始予定</span><!--<br>5月下旬 販売開始予定--></p>
      <!--<div class="texts js-scroll">
        <script language="JavaScript1.1">
         <!--
         document.write('<SCRIPT CHARSET="EUC-JP" LANGUAGE="JavaScript1.1" SRC="http://www.livable.co.jp/property/ajax/jInfo?p=LGTYUSMA"><\/SCRIPT>');
         //-->
        <!--</script>
      </div>-->
      <div class="button js-scroll"><a href="<%= site_config.request_link %>" target="_blank" class="common-button common-button01"><span>資料請求</span></a></div>
    </div>
  </section><!-- /information -->

  <section class="contents">
    <h3 class="contents-title prompt js-scroll move-text">CONTENTS</h3>
    <section class="intro">
      <div class="inner clearfix">
        <header>
          <h4 class="title prompt js-scroll"><img src="static/images/top/mark.png" alt="湯島×本郷 YUSHIMA x HONGO Bunkyo Yamanote"></h4>
          <p class="lead js-scroll move-text">新しき良き<br>伝統をくらす。</p>
          <p class="text js-scroll">情緒の湯島、洗練の本郷。<br>そこは文京山手として数々の文人が好み居を構えた都の心。<br>學問の神を祀る徳川家ゆかりの湯島天満宮にほど近く、<br>日本で最も永い歴史を持つと言われる湯島小学校、そして新花公園に隣接。<br>切通坂下から見上げるそのモダンな外観は、<br>丘の上で美しく佇み、優しく灯る光が帰り着く方を迎える。<br>伝統を継承し、革新へ昇華させ、優雅に舞う<br>［ルジェンテ文京湯島］<br>“新しき良き伝統をくらす”美しきレジデンス、ここに誕生。</p>
        </header>
        <div class="image js-scroll"><img src="static/images/top/build01.png" alt="">
        <p class="caption caption01">外観完成予想CG</p></div>
      </div>
      <div class="bg">
        <div class="bgs bg01"></div>
        <div class="bgs bg02"></div>
      </div>
    </section>
    <ul class="links">
      <li class="link link01 js-scroll">
        <div class="image point-right">
          <img src="static/images/top/point01.png" alt="">
        </div>
        <a href="position/">
          <p class="text prompt move-text">POSITION</p>
          <p class="caption">Image photo</p>
          <div class="image"><img src="static/images/top/img01.png" alt="" class="pc"><img src="static/images/top/img01-sp.png" alt="" class="sp"></div>
          <div class="bg"><img src="static/images/top/img01.png" alt="" class="pc"><img src="static/images/top/img01-sp.png" alt="" class="sp"></div>
        </a>
      </li>
      <li class="link link02 js-scroll">
        <div class="image point-right">
          <img src="static/images/top/point02.png" alt="">
        </div>
        <a href="location/">
          <p class="text prompt move-text">LOCATION</p>
          <p class="caption">Image photo</p>
          <div class="image"><img src="static/images/top/img02.png" alt="" class="pc"><img src="static/images/top/img02-sp.png" alt="" class="sp"></div>
          <div class="bg"><img src="static/images/top/img02.png" alt="" class="pc"><img src="static/images/top/img02-sp.png" alt="" class="sp"></div>
        </a>
      </li>
      <li class="link link03 js-scroll">
        <div class="image point-right">
          <img src="static/images/top/point03.png" alt="">
        </div>
        <a href="access/">
          <p class="text prompt move-text">ACCESS</p>
          <p class="caption">Image photo</p>
          <div class="image"><img src="static/images/top/img03.png" alt="" class="pc"><img src="static/images/top/img03-sp.png" alt="" class="sp"></div>
          <div class="bg"><img src="static/images/top/img03.png" alt="" class="pc"><img src="static/images/top/img03-sp.png" alt="" class="sp"></div>
        </a>
      </li>
      <li class="link link04 js-scroll">
        <div class="image point-right">
          <img src="static/images/top/point04.png" alt="">
        </div>
        <a href="plan/">
          <p class="text prompt move-text">PLAN</p>
          <p class="caption">Image photo</p>
          <div class="image"><img src="static/images/top/img04.png" alt="" class="pc"><img src="static/images/top/img04-sp.png" alt="" class="sp"></div>
          <div class="bg"><img src="static/images/top/img04.png" alt="" class="pc"><img src="static/images/top/img04-sp.png" alt="" class="sp"></div>
        </a>
      </li>
      <li class="link link05 js-scroll">
        <div class="image point-right">
          <img src="static/images/top/point05.png" alt="">
        </div>
        <a href="asset/">
          <p class="text prompt move-text">ASSETVALUE</p>
          <p class="caption">Image photo</p>
          <div class="image"><img src="static/images/top/img05.png" alt="" class="pc"><img src="static/images/top/img05-sp.png" alt="" class="sp"></div>
          <div class="bg"><img src="static/images/top/img05.png" alt="" class="pc"><img src="static/images/top/img05-sp.png" alt="" class="sp"></div>
        </a>
      </li>
    </ul>
  </section>



</main>


<div class="page-annotation">
  <p class="wrap">※1 5駅：「湯島」「本郷三丁目」「上野広小路」「上野御徒町」「御徒町」。6路線：東京メトロ千代田線・丸ノ内線・銀座線、都営大江戸線、JR山手線・京浜東北線。<br>※掲載の完成予想CGは計画段階の図面を基に描き起こしたもので、形状・色味等は実際とは異なります。外観形状の細部、エアコン室外機、照明、避雷針等、一部省略、または簡略しております。 植栽は変更になる場合があります。また、特定の季節、時期、またはご入居時を想定して描かれたものではありません。葉や花の色合い、枝ぶりや樹形は想定であり、竣工時には完成予想CG程度には成長しておりません。予めご了承下さい。<br>※掲載の航空写真は、2020年10月に撮影したものにCG加工したもので、実際とは異なります。<br>※掲載の徒歩分数表示については80mを1分として算出し、端数を切り上げたものです。</p>
</div>



<%-  include("_footer",{config:config}); %>

</body>
</html>
